*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e2e1e1;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 600px; */
    /* opacity: ; */
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
    margin-left: 50px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;

}
/*=====================hero- section===================*/

#hero-section{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-right h1{
  font-size: 40px;
  letter-spacing: 2px;  
}
.hero-right  span{
    color: transparent;
    -webkit-text-stroke: 2px black;

}
.hero-right p{
    font-size: 35px;
    padding-block: 40px;
}
.hero-right button{
    background-color: red;
    border: none;
    height: 56px;
    border-radius: 10px;
}
.hero-right button:hover{
    background-color: red;
}
.hero-right button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 10px;
    font-weight: 500;
}

.hero-left img{
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 5px;
    right: 15px;
    top: 120px;

}

/* ============== about section=============== */

#about-section{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 5;
    margin-top: 90px;
    padding: 50px 100px;

}
.about-left img{
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

.about-right .water-mark{
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke:  rgb(60 ,60, 60) 3px;
    position: absolute;
    top: 38rem;
    opacity: 0.3;
    
}
.about-right h2{
    /* padding-bottom: 30px; */
    z-index: 5;
    position: relative;
}
.about-right h4{
    color: rgb(62 62 62);
    z-index: 5;
    position: relative;
    padding-bottom: 10px;
    font-size: larger;
}
.child{
    margin-top: 25px;
    
}
.same{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 12px;
}

/* ================= work section===================== */


.text1{
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}
#my-work{
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.5rem;

}


.work{
    /* background-color: red; */
    margin: 2px;
    position: relative;
    width: 300px;
    height: 300px;
    
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.visit{
    background: linear-gradient(#03012c00, #0b0249b4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: 2s;


}
.visit:hover{
    opacity: 1;
}
.visit a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.visit a:hover{
    background: #e30505;

}






/* ============ MY SKILL SECTION================= */






.text2{
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}
#popular-skill{
    background-color: slategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3.5rem;

}
.skill{
    margin: 2px;
    position: relative;
    width: 300px;
    height: 300px;
}
.skill img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* ==================== contact section=========================  */

.text3{
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    margin-top: 20px;
}
#contact-section{
    background: linear-gradient(#03012c00, #0b0249b4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    z-index: 5;
    margin-top: 10px;
    /* padding: 50px 100px; */
    width: 100%;
    height: 100%;
}
.chat-con{
    /* background: linear-gradient(#03012c00, #0b0249b4); */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    width: 95%;
    height: 95%;
    padding-bottom: 30px;
    
    

}
.let{
    font-size: 30px;
    /* margin-bottom: 25px; */
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: larger;
    font-weight: bold;

    
}
.connect{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    
}

.chat{
    background: turquoise;
    padding-top: 60px;
}
#contact-form{
    background: white;
    text-align: center;
}
.sub{
    background-color: turquoise;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}
.con{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    
}
.red{
    padding-right: 185px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.name{
    width: 250px;
    height: 30px;
}
.email{
    width: 250px;
    height: 30px;
}
.phone{
    width: 250px;
    height: 30px;
}
.company{
    width: 250px;
    height: 30px;
}

@media (max-width:768px){
    nav{
        background-color: transparent;
        padding: 5px 10px;
    }
    #frank{
        display: none;
    }
    nav ul{
        display: block;
        align-items: center;
        background-color: black;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 50px;
        height: 100vh;
        width: 300px;
    }
    nav ul li{
        border-bottom: 1px dotted white;
        margin-top: 2.5px;
    }
    nav ul li a{
        padding-left: 15px;
    }
    #close-menu{
        position: absolute;
        top: 0;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 30px;

    }
    #open-menu{
        display: block;
    }
}










    










